@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  採用情報
*----------------------------*/

.recruit-box {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: -180px;
        left: -180px;
        width: 0;
        height: 0;
        border-width: 180px;
        border-style: solid;
        border-color: transparent transparent $color_main transparent;
        @include transform(rotate(-45deg));
        @include mediaquery-smartphone {
            top: -120px;
            left: -120px;
            border-width: 120px;
        }
    }
    &__inner {
        position: relative;
        z-index: 1;
        padding: 40px;
        @include mediaquery-smartphone {
            padding: 20px;
        }
    }
    & + & {
        margin-top: 60px;
    }
}
.recruit-box__kv {
    position: relative;
    &Name {
        @include mediaquery-pc {
            position: absolute;
            z-index: 2;
            top: 50%;
            right: 40px;
            padding: 30px 40px;
            background: rgba(#fff, .8);
            @include transform(translateY(-50%));
        }
        @include mediaquery-mobile {
            margin-top: 20px;
        }
        p {
            font-size: 12px;
            span {
                display: block;
                font-family: $font_family_sub;
                font-size: 24px;
                letter-spacing: 0.05em;
                @include mediaquery-smartphone{
                    font-size: 18px;
                }
            }
        }
    }
}

.recruit-column-2clm {
    margin-top: 40px;
    @include mediaquery-pc {
        @include display-flex;
        @include justify-content(space-between);
    }
    @include mediaquery-mobile {
        margin-top: 30px;
    }
    &:last-child {
        @include mediaquery-pc {
            @include flex-direction(row-reverse);
        }
    }
    .recruit-column-item {
        @include mediaquery-pc {
            width: 410px;
        }
        dl {
            dt {
                color: $color_main;
                font-weight: bold;
                line-height: 1;
            }
            dd {
                margin: 1em 0 30px;
                font-size: 14px;
                line-height: 1.8;
            }
        }
    }
}
.recruit-column-itemMidImg {
    @include mediaquery-smartphone {
        width: 100vw;
        margin: 0 calc(50% - 50vw);
    }
}