@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  top page
*----------------------------*
*  common
*----------------------------*/
.top-h2 {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 10px;
  text-align: center;
  .ja {
    display: block;
    font-family: $font_family_sub;
    font-size: 32px;
    @include mediaquery-mobile {
      font-size: 26px;
    }
  }
  .en {
    display: block;
    margin-top: 8px;
    color: $color_main;
    font-size: 12px;
    @include mediaquery-smartphone {
      font-size: 11px;
    }
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    @include transform(translateX(-50%));
  }
  &:before {
    width: 60px;
    background: $color_main;
  }
  &:after {
    width: 20px;
    margin-left: -20px;
    background: $color_accent;
  }
  &--white {
    .ja,
    .en {
      color: #fff;
    }
    &:before {
      background: #fff;
    }
  }
  .top-recruit & {
    margin-bottom: 45px;
    @include mediaquery-smartphone {
      margin-bottom: 19px;
    }

  }
}


/*
*  kv
*----------------------------*/
.top-kv {
  position: relative;
  width: 100%;
  background: $color_main;
}

.top-kv__inner {
  position: relative;
  overflow: hidden;
  max-width: 1124px;
  height: 450px;
  margin: 0 auto;
  @include mediaquery-smartphone {
    height: 250px;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &:before {
    left: 0;
    width: 250px;
    height: 450px;
    background-image: url(../img/top/top_kv_fig_01.png);
    @include mediaquery-smartphone {
      left: -15px;
      width: 138px;
      height: 250px;
    }
  }
  &:after {
    right: 0;
    width: 248px;
    height: 265px;
    background-image: url(../img/top/top_kv_fig_02.png);
    @include mediaquery-smartphone {
      right: -10px;
      width: 122px;
      height: 114px;

    }
  }
}

.top-kv__box {
  height: 100%;
}

.top-kv__img {
  position: relative;
  overflow: hidden;
  height: 100%;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    @include transform(translate(-50%, -50%));
  }
}

.top-kv__copy {
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0 0 42px 120px;
  @include mediaquery-tablet {
    padding: 0 0 35px 55px;
  }
  @include mediaquery-smartphone {
    padding: 0 0 25px 35px;
  }
  &__txt01 {
    max-width: 330px;
    @include mediaquery-tablet {
      max-width: 270px;
    }
    @include mediaquery-smartphone {
      max-width: 190px;
    }
  }
  &__txt02 {
    max-width: 420px;
    @include mediaquery-tablet {
      max-width: 338px;
    }
    @include mediaquery-smartphone {
      max-width: 236px;
    }
  }
}

.slick-prevMy,
.slick-nextMy {
  position: absolute;
  z-index: 2;
  top: 50%;
  @include mediaquery-spNot {
    margin-top: -18px;
  }
  @include mediaquery-smartphone {
    margin-top: -12px;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    @include mediaquery-pc {
      @include transition(all .2s ease-in-out);
      &:hover {
        opacity: .75;
      }
    }
    i {
      color: #fff;
      @include mediaquery-spNot {
        font-size: 36px;
      }
      @include mediaquery-smartphone {
        font-size: 24px;
      }
    }
    span {
      display: none;
    }
  }
}

.slick-prevMy {
  left: 48px;
  @include transform(rotate(180deg));
  @include mediaquery-mobile {
    left: 10px;
  }
}
.slick-nextMy {
  right: 48px;
  @include mediaquery-mobile {
    right: 10px;
  }
}

.slick-slide {
  line-height: 0;
}

.slick-list,
.slick-track,
.slick-slide > div {
  height: 100%;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 20px;
  @include mediaquery-smartphone {
    bottom: 12px;
  }
  li {
    display: inline-block;
    margin: 0 8px;
    width: 10px;
    height: 10px;
    opacity: 1;
    button {
      position: relative;
      text-indent: -9999px;
      width: 10px;
      height: 10px;
      opacity: 1;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: #ddd;
        border-radius: 5px;
        opacity: 1;
      }
    }
    &.slick-active {
      button:before {
        content: '';
        background-color: $color_main;
        opacity: 1;
      }
    }
  }
}

/*
*  service
*----------------------------*/
.top-service {
  padding-top: 50px;
}

.top-service__box {
  @include mediaquery-pc {
    @include display-flex;
    @include justify-content(space-between);
  }
}

.top-service__txt {
  @include mediaquery-pc {
    width: 514px;
    padding: 50px 52px 0 32px;
  }
  @include mediaquery-mobile {
    width: 100%;
    > p {
      margin-top: 30px;
    }
  }
}

.top-service__img {
  width: 510px;
  @include mediaquery-mobile {
    width: 100%;
  }
}


/*
*  company
*----------------------------*/
.top-company {
  margin: 0 auto;
  padding: 170px 0 50px;
  background: url(../img/top/bg_top_company.jpg) top right no-repeat;
  background-size: auto 320px;
  @include mediaquery-smartphone {
    padding: 120px 0 50px;
    background-size: auto 220px;
  }
}

.top-company__box {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  paading-top: 100px;
  @include mediaquery-tablet {
    @include display-flex;
    margin: 0 20px;
  }
}

.top-company__img {
  @include mediaquery-pc {
    position: absolute;
    z-index: 5;
    top: -50px;
    left: 0;
    width: 540px;
  }
  @include mediaquery-tablet {
    position: relative;
    width: 50%;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: 100%;
      @include transform(translate(-50%, -50%));
    }
  }
  @include mediaquery-smartphone {
    width: 100%;
  }
}

.top-company__txt {
  color: #fff;
  background: $color_main;
  p {
    color: #fff;
  }
  @include mediaquery-pc {
    width: 555px;
    margin-right: 0;
    margin-left: auto;
    padding: 45px 115px 35px;
  }
  @include mediaquery-tablet {
    width: 50%;
    padding: 30px;
  }
  @include mediaquery-smartphone {
    width: 100%;
    padding: 35px 25px 40px;
  }
}


/*
*  recruit
*----------------------------*/
.top-recruit {
  padding: 48px 0;
  background: url(../img/top/bg_top_recruit.jpg) center center no-repeat;
  background-size: cover;
}

.top-recruit__box {
  position: relative;
  @include display-flex;
  @include justify-content(center);
  max-width: 720px;
  margin: 0 auto;
  padding: 30px 52px;
  border: 2px solid $color_main;
  background: #fff;
  @include mediaquery-tablet {
    @include calc('width', '100% - 40px');
  }
  @include mediaquery-smartphone {
    margin: 0 20px;
    padding: 20px;
  }
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -170px;
    left: -170px;
    width: 0;
    height: 0;
    border-width: 170px;
    border-style: solid;
    border-color: transparent $color_main transparent transparent;
    @include transform(rotate(45deg));
    @include mediaquery-smartphone {
      top: -116px;
      left: -116px;
      border-width: 116px;
    }
  }
}

.top-recruit__img {
  position: relative;
  z-index: 1;
  width: 290px;

  @include mediaquery-mobile {
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: 100%;
      @include transform(translate(-50%, -50%));
    }
  }
  @include mediaquery-tablet {
    width: 50%;
  }
  @include mediaquery-smartphone {
    width: 124px;
    height: 124px;
  }
}

.top-recruit__txt {
  padding-left: 60px;
  text-align: center;
  @include mediaquery-tablet {
    width: 50%;
    padding: 20px 0 0 40px;
  }
  @include mediaquery-smartphone {
    padding-left: 10px;
  }
  .mod-btn-01 {
    width: 250px;
    padding: 22px 12px;
    @include mediaquery-tablet {
      width: 100%;
      max-width: 250px;
      font-size: 15px;
    }
    @include mediaquery-smartphone {
      width: 100%;
      padding: 12px 10px;
      font-size: 14px;
    }
  }
}


/*
*  movie
*----------------------------*/
.top-movie {
  padding: 50px 0;
  @include mediaquery-mobile {
    padding: 50px 20px;
  }
  .youtube {
    position: relative;
    display: block;
    text-decoration: none;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 48px;
      height: 48px;
      background: #fff;
      border-radius: 24px;
      @include transform(translate(-50%, -50%));
    }
    &:after {
      content: "▶︎";
      position: absolute;
      top: 50%;
      left: 50%;
      color: $color_link;
      font-size: 22px;
      @include transform(translate(-50%, -50%));
    }
  }
}
.top-movie__inner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0;
  background: #efefef;
  @include mediaquery-mobile {
    padding: 50px 20px;
  }
}
.top-movie__box {
  @include mediaquery-pc {
    @include display-flex;
    @include justify-content(space-between);
    width: 720px;
    margin: 0 auto;
  }
}
.top-movie__item {
  width: 320px;
  @include mediaquery-mobile {
    margin: 0 auto;
    & + & {
      margin-top: 30px;
    }
  }
  @include mediaquery-tablet {
    &Txt {
      width: 100%;
    }
  }
  @include mediaquery-smartphone {
    width: 100%;
    p {
      font-size: 13px;
    }
  }
  &Youtube {
    @include display-flex;
    @include align-items(center);
  }
}
.top-movie__info {
  margin-top: 20px;
  padding: 10px 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  @include mediaquery-tablet {
    width: 320px;
    margin: 20px auto 0;
  }
  img {
    width: 160px;
    height: auto;
  }
}

/*
*  blog
*----------------------------*/
.top-blog {
  max-width: 850px;
  margin: 0 auto;
  padding: 50px 0 35px;
  @include mediaquery-mobile {
    padding: 50px 10px 35px;
  }
  &__list {
    border-top: 1px solid #898989;
  }
  .article {
    border-bottom: 1px solid #898989;
    @include mediaquery-spNot {
      padding: 0 26px;
    }
    @include mediaquery-smartphone {
      padding: 0 10px;
    }
    a {
      display: block;
      padding: 20px 0;
      color: #333;
      text-decoration: none;
    }
    &__date {
      display: inline-block;
    }
    &__catTag {
      display: inline-block;
      color: #898989;
      font-size: 14px;
      line-height: 28px;
      border-left: 1px solid #898989;
      min-width: 140px;
      padding-left: 16px;
      margin-left: 26px;
      @include mediaquery-pc {
        vertical-align: middle;
      }
      @include mediaquery-mobile {
        margin-left: 14px;
      }
    }
    &__title {
      color: $color_main;
      @include mediaquery-pc {
        display: inline-block;
        overflow: hidden;
        max-width: 500px;
        line-height: 1.4;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
      }
      @include mediaquery-mobile {
        display: block;
        margin-top: .75em;
      }
    }
  }
}


/*
*  links
*----------------------------*/
.top-links {
  padding-top: 40px;
  background: $color_sub;
  @include mediaquery-spNot {
    padding-bottom: 50px;
  }
  @include mediaquery-smartphone {
    padding-bottom: 80px;
  }
  .l-container {
    text-align: center;
  }
}

.top-links__list {
  li {
    display: inline-block;
    width: 220px;
    & + li {
      @include mediaquery-spNot {
        margin-left: 30px;
      }
      @include mediaquery-mobile {
        margin-top: 18px;
      }
    }
  }
}