@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  会社概要
*----------------------------*/

.company-history {
    border-top: 1px solid #ccc;
    tr {
        border-bottom: 1px solid #ccc;
    }
    th,
    td {
        line-height: 1.6;
        vertical-align: top;
        @include mediaquery-smartphone {
            display: block;
        }
    }
    th {
        padding: 22px 0 20px 35px;
        font-weight: bold;
        @include mediaquery-spNot {
            width: 120px;
        }
        @include mediaquery-smartphone {
            padding: 16px 10px 10px;
        }
    }
    td {
        padding: 22px 35px 20px ;
        @include mediaquery-smartphone {
            padding: 0 10px 14px;
        }
    }
}

.company-office--3clm {
    @include mediaquery-spNot {
        @include display-flex;
    }
    .company-office__txt {
        position: relative;
        width: 330px;
        padding: 25px;
        @include mediaquery-tablet {
            width: 40%;
            padding: 20px;
        }
        @include mediaquery-smartphone {
            width: 100%;
            padding: 20px;
        }
        h3 {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold;
        }
        &:before {
            content: "";
            position: absolute;
            top: -16px;
            left: -16px;
            width: 0;
            height: 0;
            border-width: 16px;
            border-style: solid;
            border-color: transparent $color_main transparent transparent;
            @include transform(rotate(45deg));
        }
    }
    .company-office__img{
        @include display-flex;
        width: 630px;
        @include mediaquery-pc {
            @include justify-content(space-between);
        }
        @include mediaquery-tablet {
            width: 60%;
        }
        @include mediaquery-smartphone {
            width: 100%;
        }
        &Item {
            width: 300px;
            @include mediaquery-mobile {
                width: 50%;
            }
        }
    }
    & + & {
        margin-top: 60px;
    }
}