@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  ブログ
*----------------------------*/

//post-detail
#post-detail {
  h1 {
    margin: 30px 0;
    padding: 15px 10px;
    color: #333;
    font-size: 22px;
    font-weight: bold;
    background: #efefef;
  }
  h2 {
    position: relative;
    margin: 30px 0;
    padding-bottom: 15px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 1px;
      left: 0;
      bottom: 0;
    }
    &:before {
      width: 100%;
      background: #ddd;
    }
    &:after {
      width: 60px;
      background: $color_main;
    }
  }
  h3 {
    position: relative;
    margin: 30px 0;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    &:before,
    &:after {
      content: "";
      position: absolute;
    }
    &:before {
      top: 5px;
      left: 0;
      width: 12px;
      height: 12px;
      background: $color_accent;
    }
    &:after {
      top: -3px;
      left: -8px;
      width: 0;
      height: 0;
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent $color_main transparent;
      @include transform(rotate(-45deg));
    }
  }
  h4 {
    color: $color_main;
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0;
  }
  h5 {
    position: relative;
    margin: 30px 0;
    padding-left: 20px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    &:before {
      content: "●";
      position: absolute;
      top: 1px;
      left: 0;
      color: $color_accent;
      font-size: 14px;
    }
  }
  h6 {
    margin: 30px 0;
    color: #000;
    font-size: 18px;
    font-weight: bold;
  }
  p {
    margin: 30px 0;
  }
  ul {
    list-style-type: disc;
    margin: 30px;
  }
  ol {
    list-style-type: decimal !important;
    margin: 30px;
  }
  strong {
    font-weight:bold;
  }
  blockquote {
    background-color: #eee;
    padding: 20px;
    margin: 30px 15px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}


/*
*  blog 一覧
*----------------------------*/

.blog__hl {
  margin-bottom: 10px;
  font-family: $font_family_sub;
  font-size: 28px;
  letter-spacing: 0.05em;
}

.blog-listArticle {
  border-bottom: 1px solid #b5b5b6;
  &:first-of-type {
    border-top: 1px solid #b5b5b6;
  }
  &__inner {
    position: relative;
    display: block;
    padding: 30px 15px 25px;
    text-decoration: none;
  }
  &__date {
    display: inline-block;
    margin-bottom: 20px;
    color: #575757;
    font-size: 13px;
  }
  &__cat {
    display: inline-block;
    margin: 0 0 20px 5px;
    padding-left: 10px;
    color: #898989;
    font-size: 13px;
    border-left: 1px solid #898989;
  }
  &__title {
    display: block;
    color: $color_main;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 18px;
  }
}


/*
*  blog 詳細
*----------------------------*/
.blog-sgContainer {
  padding-top: 20px;
  border-top: 1px solid #b5b5b6;
}

.blog-sgTime {
  display: inline-block;
  margin-bottom: 20px;
  color: #575757;
  font-size: 13px;
}

.blog-sgCat {
  display: inline-block;
  margin: 0 0 20px 5px;
  padding-left: 10px;
  color: #898989;
  font-size: 13px;
  border-left: 1px solid #898989;
}

.blog-sgTitle {
  color: $color_main;
  font-size: 24px;
}

.blog-sgBody {
  p{
    line-height: 1.7;
  }
}
