@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  サービス案内
*----------------------------*/

.service-hl-01 {
    margin-bottom: 20px;
    color: $color_main;
    font-size: 20px;
    font-weight: bold;
}
.service-hl-02 {
    margin-bottom: 10px;
    font-weight: bold;
    &:before {
        content: url(../img/service/icon_service_hl_02.png);
        display: inline-block;
        margin-right: 10px;
        vertical-align: -2px;
    }
}

.service-nav {
    @include display-flex;
    @include justify-content(center);
    margin-bottom: 60px;
    padding: 40px 0;
    border-bottom: 1px solid #ddd;
    @include mediaquery-mobile {
        display: block;
        padding: 30px 0;
    }
}

.service-navBtn {
    a {
        display: block;
        width: 210px;
        padding: 1.5em 0;
        color: #fff;
        text-align: center;
        text-decoration: none;
        background: $color_link;
        i {
            display: inline-block;
            @include transform(rotate(90deg));
        }
        @include mediaquery-mobile {
            margin-right: auto;
            margin-left: auto;
        }
    }
    & + & {
        @include mediaquery-pc {
            margin-left: 60px;
        }
        @include mediaquery-mobile {
            margin-top: 30px;
        }
    }
}

.service-ph--4clm {
    @include display-flex;
    @include flex-wrap(wrap);
    &__item {
        margin-right: 20px;
        margin-bottom: 20px;
        width: 225px;
        @include mediaquery-pc {
            &:nth-child(4n){
                margin-right: 0;
            }
        }
        @include mediaquery-tablet {
            @include calc('width','(100% - 40px) / 3');
            &:nth-child(3n){
                margin-right: 0;
            }
        }
        @include mediaquery-smartphone {
            @include calc('width','(100% - 10px) / 2');
            margin-right: 10px;
            margin-bottom: 10px;
            &:nth-child(2n){
                margin-right: 0;
            }
        }
    }
}

/*
*  販売体系
*----------------------------*/

.salesSystem__img {
    max-width: 550px;
    margin: 60px auto 0;
}