@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  社長挨拶
*----------------------------*/

.greeting__name {
    margin-top: 1em;
    p {
        font-size: 13px;
        line-height: 1.5;
        span {
            font-size: 15px;
            font-weight: bold;
        }
    }
}