@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";

/*****************************
**
**  下層ページ共通スタイル
**
******************************/

/*
*  下層ページ全体
*----------------------------*/

.sub-container {
  width: 960px;
  margin: 0 auto;
  padding: 60px 0 100px;
  @include mediaquery-mobile {
    width: 100%;
    padding: 60px 20px 100px;
  }
  p {
    line-height: 1.8;
  }
}

/*
*  パンくずリスト
*----------------------------*/

.sub-breadcrumbs {
  padding-top: 10px;
  padding-bottom: 6px;
  background-color: $color_sub;
  li {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 13px;
    color: #000;
    & + li{
      margin-left: 5px;
      &:before {
        content: ">";
        display: inline-block;
        margin-right: 5px;
      }
    }
    a {
      text-decoration: underline;
      color: #000;
      @include mediaquery-pc {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

/*
*  H1およびカテゴリー見出し
*----------------------------*/

.sub-h1 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 18px 10px 16px 10px;
  margin-bottom: 35px;
  background-color: #000;
}

.sub-category {
  position: relative;
  height: 160px;
  &__title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    font-family: $font_family_sub;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: .1em;
    text-align: center;
    @include transform(translate(0, -50%));
    @include mediaquery-smartphone {
      font-size: 25px;
    }
    .en {
      display: block;
      margin-top: 12px;
      font-family: $font_family_base;
      font-size: 12px;
      letter-spacing: 0;
    }
  }
}

$catlist: "greeting","company","service","recruit","blog";
@each $cat in $catlist {
  .sub-category--#{$cat} {
    background-image: url(../img/#{$cat}/bg_#{$cat}_category.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*
*  サイド
*----------------------------*/

//メニュー
.sub-sideMenu {
  position: relative;
  overflow: hidden;
  h6 {
    background-color: $color_main;
    padding: 15px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    span {
      display: inline-block;
      font-size: 10px;
      font-weight: normal;
      margin-left: 1em;
    }
  }
  ul {
    li {
      border-bottom: 1px solid #acacac;
      & > a {
        display: block;
        padding: 16px 10px 16px 25px;
        color: #333;
        font-size: 14px;
        text-decoration: none;
        position: relative;
        &::before {
          content: "▶︎";
          position: absolute;
          top: 50%;
          left: 6px;
          color: $color_main;
          font-size: 10px;
          @include transform(translate(0, -50%));
        }
      }
    }
  }
}

//カレンダー
.sub-calendar {
  padding: 20px 10px 10px;
  background-color: #f2f2f2;
  table {
    width: 100%;
    table-layout: fixed;
  }
  center {
    display: block;
    margin-bottom: 12px;
    div {
      display: inline-block;
    }
    .center {
      margin: 0 5px;
    }
  }
  tr:first-child td {
    padding: 0;
  }
  th {
    padding: 8px 0;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #b5b5b5;
  }
  td {
    padding: 6px 0;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
  }
  a {
    color: $color_main;
  }
  .sunday {
    color: #ed1c24;
  }
  .saturday {
    color: #005dcc;
  }
}


// サービス・採用　ナビ
.sub-pg__nav {
  margin-bottom: 60px;
  padding: 30px 0 35px;
  text-align: center;
  background: $color_sub;
  @include mediaquery-mobile {
    padding: 10px 0 15px;
  }
}
.sub-pg__navBtn {
  position: relative;
  display: inline-block;
  margin: 0 30px;
  @include mediaquery-mobile {
    display: block;
    width: 240px;
    margin: 30px auto;
  }
  &:before {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      width: 100%;
      height: 100%;
      background: #ddd;
      @include mediaquery-smartphone {
        top: 8px;
        left: 8px;
      }
  }
  a {
      position: relative;
      z-index: 1;
      display: block;
      width: 240px;
      padding: 30px 0;
      color: $color_main;
      font-family: $font_family_sub;
      font-size: 18px;
      text-align: center;
      text-decoration: none;
      background: #fff;
      border: 2px solid $color_main;
      @include transition(all .2s ease-in-out);
      &:hover {
        @include mediaquery-pc {
          color: #fff;
          background: $color_main;
        }
      }
      &.is-current {
          color: #fff;
          background: $color_main;
      }
  }
}
