@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  header
*----------------------------*/

.header {
  border-bottom: 4px solid #ddd;
  @include mediaquery-mobile {
    padding: 10px 15px;
  }
}

.header__item {
  @include mediaquery-pc {
    width: 1024px;
    margin: 0 auto;
    padding: 22px 0;
  }
  .logo {
    float: left;
    width: 256px;
    @include mediaquery-mobile {
      width: 200px;
      padding-top: 14px;
    }
  }
  .text {
    @include mediaquery-pc {
      float: left;
      margin-left: 20px;
      padding-top: 6px;
    }
    p {
      color: #898989;
      font-size: 12px;
    }
  }
  .tel {
    float: right;
    width: 214px;
  }
}

//モバイルメニュー
.header__btnMobileMenu {
  width: 52px;
  float: right;
}

//header固定
#is-headerFixed {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9990;
  background-color: #fff;
  @include transition(all .5s);
  &.scrolled {
    background: rgba(255,255,255,.96);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9990;
    //スクロール時_変更箇所
    @include mediaquery-pc {
      //スクロールした時に変更したいスタイルを記入する
    }
  }
}


/*
*  globalnavi
*----------------------------*/

//globalnavi_レイアウト
.gNav {
  @include mediaquery-pc {
    width: 1024px;
    margin: 0 auto;
  }
  @include mediaquery-tablet {
    width: $mobileMenu_width_tablet; //スマホメニュー幅
  }
  @include mediaquery-smartphone {
    width: $mobileMenu_width_sp; //スマホメニュー幅
  }
}

//globalnavi_PCデザイン
.gNav {
  .gNav__item > a {
    .en {
      display: block;
      margin-bottom: 1em;
      color: $color_main;
      font-size: 10px;
      @include mediaquery-mobile {
        margin-bottom: 0;
      }
    }
  }
  @include mediaquery-pc {
    .gNav__item {
      position: relative;
      width: 16.6666%;
      > a {
        padding: 16px 10px;
        border-right: 1px solid #ddd;
        color: #333;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
      }
      &:first-child > a {
        border-left: 1px solid #ddd;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 4px;
        background: transparent;
        @include transition(all .2s ease-in-out);
      }
      &:hover:after,
      &.is-current:after {
        background: $color_accent;
      }
    }
  }
}

//globalnavi_アコーディオン_PC デザイン
.gNav-accordion {
  .accordionMenu--pc {
    @include mediaquery-pc {
      width: 400px;
      top: 90px;
      left: 50%;
      margin-left: -200px !important;
      padding: 20px;
      background-color: $color_main;
      &::before {
        content: "▲";
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        color: $color_main;
        font-size: 25px;
        text-align: center;
      }
      a {
        position: relative;
        float: left;
        display: block;
        width: 160px;
        margin: 5px 10px;
        padding-left: 20px;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        &::before {
          position: absolute;
          content: "▶";
          font-size: 10px;
          top: 50%;
          left: 0;
          margin-top: -8px;
        }
      }
    }
  }
}

//globalnavi_MOBILE デザイン
.gNav-accordion {
  @include mediaquery-mobile {
    //１階層目
    .gNav__item > a {
      color: #333;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
    }
    //２階層目
    .accordionMenu--mobile {
      & > li > a {
        color: #333;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

//SP グローバルナビのオーバーレイ部分
.drawer-open {
  @include mediaquery-mobile {
    .is-menuOpen-overlay::before {
      content: '';
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 80;
      left: 0;
      top: 0;
    }
  }
}

//SP メニューボタン
.drawer--right.drawer-open .drawer-hamburger{
  z-index: 100;
  @include mediaquery-tablet {
    right: 250px;
  }
  @include mediaquery-smartphone {
    right: 190px;
  }
}

//モバイルメニューを開いた時_メニューボタンを消す
.drawer-open {
  .drawer-toggle.drawer-hamburger {
    display: none;
  }
}


/*
*  footer
*----------------------------*/
.footer {
  background-color: #212a37;
  .l-container {
    position: relative;
  }
}
.footer__pageTop {
  background-color: #212a37;
  position: absolute;
  top: -33px;
  right: 0;
  height: 33px;
  a {
    color: #fff;
    font-size: 13px;
    line-height: 33px;
    text-decoration: none;
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
    i {
      display: inline-block;
      @include transform(rotate(-90deg));
    }
  }
}
.footer__item {
  padding-top: 30px;
  padding-bottom: 70px;
  @include mediaquery-mobile {
    padding-top: 55px;
    padding-bottom: 0;
  }
}
.footer__info {
  padding-bottom: 30px;
  border-bottom: 1px solid  #fff;
  @include mediaquery-pc {
    @include display-flex;
    margin-bottom: 30px;
  }
  &__logo {
    width: 270px;
    padding-top: 6px;
    @include mediaquery-mobile {
      margin: 0 auto;
      padding-top: 0;
    }
  }
  &__txt {
    margin-left: 30px;
    @include mediaquery-mobile {
      margin: 25px 0 0;
      text-align: center;
    }
    p {
      color: #fff;
      @include mediaquery-mobile {
        font-size: 14px;
      }
    }
  }
}
.footer__list {
  text-align: center;
  @include mediaquery-mobile {
    display: none;
  }
  ul li {
    display: inline-block;
    a {
      color: #fff;
      text-decoration: none;
    }
    & + li:before {
      content: "/";
      color: #fff;
      display: inline-block;
      margin-right: 15px;
      margin-left: 10px;
    }
  }
}
.copyright {
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

//ページトップへ戻るボタン
.pageTop-box {
  position: relative;
  .pageTop {
    position: fixed;
    cursor: pointer;
    width: 50px;
    right: 5px;
    z-index: 999;
  }
}
