@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  form
*----------------------------*/


//テキストボックス
.mod-form-input-text {
  border: 1px solid #ccc;
  height: 46px;
  font-size: 16px;
  padding: 0 10px;
  &--01 {
    @extend .mod-form-input-text;
    width: 210px;
  }
  &--02 {
    @extend .mod-form-input-text;
    @include mediaquery-pc {
      width: 400px;
    }
    @include mediaquery-tablet {
      width: 100%;
      max-width: 400px;
    }
    @include mediaquery-smartphone {
      width: 100%;
    }
  }
  &--03 {
    @extend .mod-form-input-text;
    width: 100%;
  }
}


//テキストエリア
.mod-form-input-textArea {
  border: 1px solid #ccc;
  width: 100%;
  height: 200px;
  font-size: 16px;
  padding: 10px;
}


//必須項目タグ
.mod-form-hissuTag {
  display: inline-block;
  color: #C1272D;
  font-size: 14px;
  @include mediaquery-pc {
    margin-left: 20px;
  }
  @include mediaquery-tablet {
    margin-left: 10px;
  }
  @include mediaquery-smartphone {
    margin-left: 10px;
  }
}


//ボタン サブミット
.mod-form-input-submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


//ボタン リセット
.mod-form-input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


//デザインされたセレクトボックスを使用したい場合
.selectBox {
  overflow: hidden;
  width: 200px;
  position: relative;
  display: block;
  @include border-radius(5px);
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    pointer-events: none;
    height: 100%;
    display: block;
  }
  &::before {
    right: 0;
    width: 30px;
    background-color: $color_main;
  }
  &::after {
    right: 4px;
    width: 21px;
    background: url(../img/module/form_item_select.png) no-repeat center;
    background-size: 21px auto;
  }
  .mod-form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 14px 6px 14px 12px;
    border: 1px solid #ccc;
    font-size: 13px;
    display: block;
    @include box-sizing(border-box);
    background-color: #fff;
  }
}


//デザインされたチェックボックスを使用したい場合
.mod-form-checkbox {
  font-size: 14px;
  position: relative;
  display: block;
  padding: 5px 0 5px 25px;
  @include mediaquery-pc {
    float: left;
    &:nth-child(n+2) {
      margin-left: 30px;
    }
  }
  @include mediaquery-mobile {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  input {
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.15s ease-out 0s;
    margin: -10px 0 0;
    left: 0;
    top: 50%;
    border: 1px solid #000;
    background-color: #fff;
    -webkit-appearance: none;
    appearance: none;
    &:checked {
      background-color: $color_main;
      &::before {
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        content: '✔';
        color: #fff;
        text-align: center;
      }
      &::after {
        position: relative;
        display: block;
        content: '';
        background-color: $color_main;
      }
    }
  }
}


//デザインされたラジオボタンを使用したい場合
.mod-form-radio {
  display: none;
}

.radioLabel {
  position: relative;
  line-height: 20px;
  @include mediaquery-pc {
    padding-left: 30px;
    display: inline-block;
    margin: 10px 18px 0 0;
  }
  @include mediaquery-tablet {
    padding-left: 25px;
    display: inline-block;
    margin: 15px;
  }
  @include mediaquery-smartphone {
    padding-left: 25px;
    display: block;
    margin-top: 15px;
  }
  &:after,
  &:before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
  }
  &:after {
    left: 0;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border: 2px solid #323232;
    border-radius: 50%;
  }
  &:before {
    left: 5px;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    background-color: $color_main;
    border-radius: 50%;
    opacity: 0;
  }
  &:hover:after {
    border-color: $color_main;
  }
}

.mod-form-radio:checked {
  & + .radioLabel:before {
    opacity: 1;
  }
  & + .radioLabel:after {
    border-color: $color_main;
  }
}


//画像認証
.mod-form-auth-captcha {
  text-align: center;
  img{
    display: block;
    margin: 0 auto;
  }
  input{
    border: 1px solid #8B8B8B;
    height: 46px;
    padding: 0 15px;
    @include border-radius(5px);
    font-size: 14px;
    width: 230px;
    margin-bottom: 10px;
  }
  .error-message{
    display: inline-block;
  }
}
