@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  module
*  table layout
*----------------------------*/
$tableLine_color: #ccc;
$tableTh_color: #f2f2f2;


/*
*  table
*----------------------------*/

//table01_default
.mod-table-01 {
  width: 100%;
  @include mediaquery-pc {
    table-layout: fixed;
    & ,  td, th {
      border: 1px solid $tableLine_color;
      border-collapse: collapse;
    }
  }
  @include mediaquery-tablet {
    table-layout: fixed;
    & ,  td, th {
      border: 1px solid $tableLine_color;
      border-collapse: collapse;
    }
  }
  @include mediaquery-smartphone {
    border: 1px solid $tableLine_color;
  }
  tr {
    @include mediaquery-smartphone {
      display: block;
      border-bottom: 1px solid $tableLine_color;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  th {
    color: $color_font;
    font-size: $font_size_base;
    // font-weight: bold;
    line-height: 1.6;
    background-color: $tableTh_color;
    padding: 14px 20px;
    @include mediaquery-spNot {
      vertical-align: top;
    }
    @include mediaquery-smartphone {
      display: block;
    }
  }
  td {
    color: $color_font;
    font-size: $font_size_base;
    line-height: 1.6;
    padding: 14px 20px;
    @include mediaquery-spNot {
      vertical-align: middle;
    }
    @include mediaquery-smartphone {
      display: block;
    }
  }
  b {
    font-weight: bold;
  }
}

//table02_default
.mod-table-02 {
  width: 100%;
  table-layout: fixed;
  @include mediaquery-smartphone {
    border-top: 1px solid $tableLine_color;
    border-right: 1px solid $tableLine_color;
    border-left: 1px solid $tableLine_color;
  }
  & , td, th {
    @include mediaquery-pc {
      border: 1px solid $tableLine_color;
      border-collapse: collapse;
    }
    @include mediaquery-tablet {
      border: 1px solid $tableLine_color;
      border-collapse: collapse;
    }
  }
  thead {
    @include mediaquery-smartphone {
      display: none;
    }
  }
  tr {
    @include mediaquery-smartphone {
      display: block;
    }
  }
  th {
    background-color: $tableTh_color;
    font-size: $font_size_base;
    color: $color_font;
    font-weight: bold;
    line-height: 110%;
    font-size: $font_size_base;
    padding: 14px 12px;
    text-align: center;
    @include mediaquery-smartphone {
      display: block;
      margin-bottom: 20px;
    }
  }
  td {
    font-size: $font_size_base;
    color: $color_font;
    line-height: 130%;
    padding: 10px 12px;
    text-align: center;
    background-color: #fff;
    @include mediaquery-smartphone {
      display: block;
      text-align: right;
      border-bottom: 1px solid $tableLine_color;
      &::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
      }
    }
  }
  .spTh {
    @include mediaquery-smartphone {
      background-color: $tableTh_color;
      padding: 15px;
      color: $color_font;
      line-height: 120%;
      text-align: left;
      font-weight: bold;
    }
  }
}

.mod-table-thW150 {
  th {
    @include mediaquery-spNot {
      width: 150px;
    }
  }
}

.mod-table-thW130 {
  th {
    @include mediaquery-spNot {
      width: 130px;
    }
  }
}
