@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ
@import "_setting";


/*
*  Heading
*----------------------------*/

.mod-hl-01 {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-family: $font_family_sub;
  font-size: 30px;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    height: 2px;
  }
  &:before {
    width: 60px;
    background: $color_main;
  }
  &:after {
    width: 20px;
    background: $color_accent;
  }
}

.mod-hl-02 {
  margin-bottom: 30px;
  padding-bottom: 15px;
  font-family: $font_family_sub;
  font-size: 28px;
  border-bottom: 1px solid $color_main;
}

.mod-hl-03 {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-family: $font_family_sub;
  font-size: 24px;
  &:before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 60px;
    height: 1px;
    background: $color_main;
  }
}

.mod-hl-04 {

}

.mod-hl-05 {

}

.mod-hl-06 {

}
