@charset "utf-8";
//インポート
@import "compass";
@import "mylib/_retina_background.scss"; //retina対応背景指定
@import "mylib/_mediaquery.scss"; //メディアクエリ


/*
*  base font
*----------------------------*/

//ゴシック_基本
$font_family_base: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;

//明朝_基本
$font_family_sub: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, serif;


//文章のフォントサイズ
$font_size_base: 15px;


/*
*  base color
*----------------------------*/

// メインカラー（ベースカラー）
$color_main: #1683c9;

// サブカラー
$color_sub: #efefef;

// アクセントカラー
$color_accent: #e60212;

// ベーステキストカラー
$color_font: #333;

// ベースリンクカラー
$color_link: #172a88;

// ページネーションカラー
$color_pagination: #333;


/*
*  base width
*----------------------------*/

// ページ全体の横幅
$width_base: 1024px;

// 2columnのサイドコンテンツ
$width_sub: 220px;

// 2columnのメインコンテンツ
$width_main: 750px;

// モバイルメニュー
$mobileMenu_width_tablet: 260px;
$mobileMenu_width_sp: 200px;


/*
*  mixin
*----------------------------*/

//縦横中央揃え
@mixin allCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

// calc
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}
