@charset "utf-8";
/*
    Created on : 2014/04/04, 0:43:38
    Author     : goichi
*/
//mixin　ここから
//Retina用スプライト画像処理
//ただしCompass ver.1.0.0.alpha.19でバグあり
@mixin sprite-background($sprite, $name, $width: "false", $height: "false", $size: "true") {

    background: sprite-url($sprite);
    @include background-size(ceil(image-width(sprite-path($sprite)) / 2), auto);
    background-repeat: no-repeat;
    overflow: hidden;

    @if $size == "true" {
        @if $width == "false" {
            width: image-width(sprite-file($sprite, $name)) / 2;
        } @else {
            width: $width;
        }

        @if $height == "false" {
            height: image-height(sprite-file($sprite, $name)) / 2;
        } @else {
            height: $height;
        }
    }
    $ypos: round(nth(sprite-position($sprite, $name), 2) / 2);
    background-position: 0 $ypos;
}
//ここまで

@mixin sprite-background-none-retina($sprite, $name, $width: "false", $height: "false", $size: "true") {

  background: sprite-url($sprite);
  @include background-size(ceil(image-width(sprite-path($sprite))), auto);
  background-repeat: no-repeat;
  overflow: hidden;

  @if $size == "true" {
    @if $width == "false" {
      width: image-width(sprite-file($sprite, $name));
    } @else {
      width: $width;
    }

    @if $height == "false" {
      height: image-height(sprite-file($sprite, $name));
    } @else {
      height: $height;
    }
  }
  $ypos: round(nth(sprite-position($sprite, $name), 2));
  background-position: 0 $ypos;
}
